body {
    background-color: $main-bg-color;
    color: $main-color;

    font-size: $main-font-size;
    font-family: $main-font-face;
}

main {
    padding: 20px;

    h2 {
        display: flex;
        text-transform: uppercase;
        color: $heading-color;
        font-size: 3.5em;
        margin-bottom: 0.8em;
        justify-content: center;
    }

    .form-info {
        display: flex;
        justify-content: center;
        font-size: 1.8em;
    }

    #mail-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr {
        width: 80%;
        border: 1px solid $heading-color;
        margin: 40px 185px;
    }

    p {
        max-width: 75%;
    }
}

.error {
    border: 4px solid red;
}